body.list {
    background-image: url("/rapunzel-light.jpg");
    background-size: cover;
}
body.dark.list {
    background-image: url("/rapunzel-dark.jpg");
    background-size: cover;
}
nav#TableOfContents li, nav#TableOfContents ul {
    list-style: none;
    margin: 0px;
    padding-inline-start: 5px;
}